body {
  padding: 0.5rem;
  font-family: "Philosopher", sans-serif;
  margin-top: 4rem;
}

h1 {
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 2rem;
}
p {
  text-align: center;
}
.content,
.program {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  display: block;
  padding-top: 2rem;
}
.member-padding {
  padding: 2rem;
}

button {
  background: #459993;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
button:hover {
  color: pink;
  background-color: #979fb4;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 1ms ease-in-out;
  cursor: grab;
}

.container {
  height: 25rem;
  width: 38rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  display: block;
  margin: auto;
}
